.keyboard {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 10px;
    color: #EBEDF0;
    &_row{
        display: flex;
        justify-content: center;
    }
    &_key {
        display: flex;
        width: 3vw;
        aspect-ratio: 1/1;
        font-size: 1.3vw;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        transition: 0.1s all ease-out;
        border: 1px #ffffff solid;    
    }
    &_space {
        display: flex;
        width: 25vw;
        aspect-ratio: 10/1;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        border: 1px #ffffff solid;
    }
    button {
        cursor: pointer;
        background: #ff05057a;
        color: #f0ebeb;
    }
}
.key_active {
    color: #1a1919;
    background: #EBEDF0;
}
.btn {
    img {
         width: 2vw;
         height: 2vw;
         transition: .7s all;
    }
    &:focus {
        img {
            animation: rotation 0.2s;
       }   
    }    
}
@keyframes rotation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
  