.telemetry {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    grid-template-rows: 20px repeat(4, minmax(10px, 50px));
    row-gap: 60px;
    z-index: 2;
    height: 100%;
    box-sizing: border-box;
    width: 6.5vw;
    padding: 40px;
    background-color: #24232369;
    transition: width 0.2s ease;
    border-right: 1px solid #2f3031b1;
    color: #EBEDF0;
    p {
      font-family: 'Noto Sans Mono', monospace;
      font-size: 1vw;
    }
  
    &-error {
      font-family: 'Noto Sans Mono', monospace;
      white-space: nowrap;
      overflow: hidden;
      font-size: 3vw;
      min-height: 60px;
      position: relative;
      color: #f0bdbd;
    }
  
    &:hover {
      width: 14vw;
    }
  }
.timer {
  font-size: 1vw;
}
.option {
  color: #000000a9;
}

.on {
  width: 14vw;
}

@media (max-width: 767px) {
  .telemetry {
    p {
      font-size: 2.2vw;
    }
  
    &-error {
      white-space: nowrap;
      overflow: hidden;
      font-size: 4vw;
      min-height: 60px;
      position: relative;
      color: #f0bdbd;
    }
  }
}
@media (max-width: 968px) {
  .telemetry {
    p {
      font-size: 1.2vw;
    }
  
    &-error {
      white-space: nowrap;
      overflow: hidden;
      font-size: 4vw;
      min-height: 60px;
      position: relative;
      color: #f0bdbd;
    }
  }
}
  